/* plus-jakarta-sans-regular - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.site-header {
    border-bottom: 1px solid #EEEEF4;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.site-logo {
    margin-right: 20px;
}

.nav-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 24px;
    background: #101010;
    border: 1px solid #000;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #fff;
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    margin-left: 30px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #1AAB7B;
}

.hero {
    margin-top: 91px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 550px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: #101010;
    margin-bottom: 20px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #636F87;
    margin-bottom: 40px;
}

.hero-right {
    display: flex;
    justify-content: space-between;
}

.iframe {
    width: 592px;
    height: 334px;
    border-radius: 6px;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    padding: 20px 40px;
    background: #1AAB7B;
    border-radius: 6px;
    color: #FFFFFF;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #000;
}