/* plus-jakarta-sans-regular - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}